/**Media Queries**/
@media (min-width: 1200px) {
  .navbar-default .navbar-brand {
    width: 100%;
  }
  .navbar-default .navbar-brand > img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar-default .navbar-nav {
    padding-left: 100px;
  }
  .navbar-default .navbar > .container .navbar-brand,
  .navbar-default .navbar > .container-fluid .navbar-brand {
    margin: 0;
    padding: 0;
  }
  .navbar-default .navbar-brand > img {
    margin-top: -5px;
    width: 35%;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-brand {
    width: 60%;
  }
  .navbar-default .navbar-brand > img {
    margin-top: 0;
    width: 50%;
  }
  .redes-footer {
    width: 80%;
  }
  .yamm .nav,
  .yamm .collapse,
  .yamm .dropup,
  .yamm .yamm-fw {
    position: static;
    background-color: #FFF;
  }
}
@media (max-width: 360px) {
  .navbar-default .navbar-brand > img {
    margin-top: 0;
    width: 50%;
  }
}
@media (max-width: 320px) {
  .navbar-default .navbar-brand {
    width: 70%;
  }
  .navbar-default .navbar-brand > img {
    margin-top: -5px;
    width: 100%;
  }
  .redes-footer {
    width: 50%;
  }
}
a[ng-click] {
  cursor: pointer;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
